@media (max-width: 700px) {
  .secMainWrapper {
    width: 100vw;
  }

  .hide-sm {
    display: none;
  }

  #wrapper {
    display: grid;
    grid-template-columns: 1fr;
    // transition: margin 0.25s ease;
    &.toggled {
      grid-template-columns: 3fr 2fr;
    }
    .hidden-menu {
      margin-left: -20rem;
      z-index: 20;
      transition: all 0.25s ease;
    }
    &.toggled .hidden-menu {
      // display: flex;
      margin-left: 0rem;
    }
    &.toggled .container .dark-overlay {
      z-index: 15;
      display: block;
    }
  }

  // .hidden-menu {
  //   // display: none;
  //   flex-direction: column;
  //   margin-left: 1rem;
  //   z-index: 20;
  //   transition: all 0.25s ease;
  //   &.toggled {
  //     margin-left: 0rem;
  //   }
  // }

  // #wrapper {
  //   grid-template-columns: 1fr;
  //   transition: margin-left 0.25s ease;
  //   &.toggled {
  //     grid-template-columns: 3fr 1fr;
  //     margin-left: 0rem;
  //   }
  //   &.toggled .hidden-menu {
  //     display: flex;
  //     margin-left: 0rem;
  //   }
  // }
}
