@import "common";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem; /* based on the default root tag which is HTML if HTML is defined as 16px this setting means 16px times 1 */
  line-height: 1.6;
  background-color: white;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;

  & .logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
  }
  & a {
    text-decoration: none;
    padding: 0.3rem;
    @include set-font-color($dark-color);
  }
  & a > i {
    list-style: none;
    font-size: 1.5rem;
  }

  & ul {
    display: flex;
    list-style: none;
    z-index: 11;
    li {
      list-style: none;
      flex-direction: column;
      padding: 0.3rem;
      // margin-left: 0.4rem;
    }
    a {
      text-decoration: none;
      // @include set-font-color($dark-color);
    }
    a > i {
      font-size: 1.5rem;
    }
  }
}

#wrapper {
  display: grid;
  grid-template-columns: 0fr 5fr;

  &.toggled {
    grid-template-columns: 1fr 4fr;
  }
  &.toggled .container {
  }
  &.toggled .container .dark-overlay {
    z-index: 23;
    display: block;
  }

  &.toggled .hidden-menu {
    display: flex;
    margin-left: 0rem;
    height: 100vh;
    overflow: hidden;
  }
}

.main {
  height: 50vh;
  background: transparent url("../img/homebg.jpg") no-repeat center/cover;
  top: 0;
  left: 0;
}

.hidden-menu {
  // display: none;
  flex-direction: column;
  margin-left: -20rem;
  z-index: 25;
  transition: margin-left 0.25s ease;

  .search_bar {
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0.8rem 0;
    & > a {
      text-decoration: none;
      color: $dark-color;
    }
    & > a > i {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
  ul {
    list-style: none;
  }

  li {
    padding: 0.5rem 0;
    border-bottom: $less-dark-color 1px dotted;
    transition: background-color 0.45s linear;
    &:hover {
      background-color: $red-hot-color;
      color: $light-color;
    }
    &.menu a {
      list-style: none;
      padding: 0.3rem 0.6rem;
      text-decoration: none;
      color: $dark-color;
      &:hover {
        color: $light-color;
      }
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.secMainWrapper {
  width: 100vmax;
  // left: 0;
}

.footerWrapper {
  height: auto;
  display: grid;
  grid-template-rows: 4fr 0.5fr;
  & .footertop {
    display: grid;

    justify-content: space-evenly;
    grid-template-areas: "mainmenu mainmenu" "submenu submenu" "thirdmenu socialmenu";
    & .mainmenu {
      grid-area: "mainmenu";
      grid-row: 1 / span 2;
    }

    & .submenu {
      grid-area: "submenu";
      grid-row: 1 / span 2;
    }

    & .thirdmenu {
      grid-area: "thirdmenu";
      grid-row: 1 / span 1;
    }

    & .socialmenu {
      grid-area: "socialmenu";
      grid-row: 2 / span 1;

      ul {
        display: flex;
        flex-direction: row;
      }
    }

    ul {
      padding: 1rem;
      li {
        list-style: none;
      }
    }

    & a {
      text-decoration: none;
      color: determine-font-color($dark-color);
    }
  }
  & .footerbottom {
    background-color: #403d3d;
    color: determine-font-color(#403d3d);
    text-align: center;
    padding: 0.5rem;
  }
}

.secMain {
  // padding: 0.8rem;
  margin-top: 1rem;
  position: relative;
  align-content: center;
  justify-content: center;
  display: flex;
  flex: column;

  .tabbedmenu {
    z-index: 5;
    margin-top: -3rem;
    width: 80%;
    // padding: 1rem;
    border: #e2d8d8 1px solid; // display: grid;
    border-style: none solid none solid;

    ul {
      // padding: 0.5rem;
      display: grid;
      grid-template-columns: auto auto auto auto;
      text-transform: capitalize;
      list-style: none;
      grid-gap: 0;
      li {
        text-align: center;
        border-style: none solid none none;
        border-width: 1px;
        border-color: rgb(151, 160, 151);
        background-color: $dark-color;
        transition: all 0.25s ease;
        cursor: pointer;

        &:last-child {
          border-style: none none none none;
        }
        &:hover {
          background-color: #efefef;
        }
        & a:hover {
          color: determine-font-color($light-color);
        }

        &.active {
          border-style: none solid none none;
          background-color: #efefef;
          color: determine-font-color(#efefef);
        }
        &.active:last-child {
          border-style: none none none none;
        }
        &.active a {
          text-decoration: none;
          background-color: $light-color;
          color: determine-font-color($light-color);
        }
        a {
          display: block;
          padding: 0.5rem;
          color: determine-font-color($dark-color);
        }
      }
    }
  }

  .mainpanel {
    top: 0;
    padding: 0.8rem;
    min-height: 30vh;

    & > div {
      display: none;
    }
    & > div.active {
      display: inline-block;
    }
  }
}

@import "mobile";
